*{padding: 0px;margin: 0px;}
 
main{
	margin: auto; 	
	width: 550px;
	background-color: #F8F8F8;
	padding: 40px;
	margin-top: 100px;
	border: 1px solid #000; 
}
h1 {
	text-align: center;
	font-size: 24px;
	color: #000; 
}
input{
	height: 20px;
	width: 200px;
	margin: 20px;
	padding: 5px 10px;
	border-radius: 5px;
	
} 
input[type=text],[type=email],[type=date],[type=password]{
	opacity: .7;
}
input[type=submit] {
    padding: 10px 0 27px 0;
    background: #fff;
    cursor: pointer;
    border: 2px solid #87AA40; 
    border-radius: 5px;
    margin: 20px 32%;
    font-weight: bold;
}
input:focus{ 
	opacity: 1;
	color: #000
}
input[type=submit]{ color:#87AA40; }
input[type=submit]:hover{
	background: #87AA40;
	color: #fff;
	border: 2px solid #fff;
} 